AWS_IOT_ENDPOINT=your-endpoint-ats.iot.your-region.amazonaws.com
AWS_IOT_CERT_PATH=/etc/mosquitto/certs/bridge.cert.pem
AWS_IOT_PKEY_PATH=/etc/mosquitto/certs/bridge.private.key
AWS_IOT_CA_PATH=/etc/mosquitto/certs/AmazonRootCA1.pem
AWS_IOT_CLIENT_ID=bridge

ARD_HUMIDITY_SENSOR_TOPIC=sensors/humidity
ARD_HUMIDITY_ACTUATOR_TOPIC=actuators/water_pump

ARD_LIGHT_SENSOR_TOPIC=sensors/light
ARD_LIGHT_ACTUATOR_TOPIC=actuators/light

ARD_TEMP_SENSOR_TOPIC=sensors/temperature
ARD_TEMP_ACTUATOR_TOPIC=actuators/fan

LOCAL_INTERFACE_IP=localhost

ARD_HUMIDITY_PORT=/dev/ttyACM0
ARD_LIGHT_PORT=/dev/ttyACM1
ARD_TEMP_PORT=/dev/ttyACM2
SERIAL_BAUD_RATE=9600
